{% extends "base.html" %}

{% block title %}
Administration panel	
{% endblock %}
{% block content %}

<ul>
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
</ul>
<div class="panel panel-default" style="margin-top:15px;">
	<div class="panel-heading">
		<strong>List of fieldwork projects</strong>
	</div>
	<div class="panel-body" style="padding:0;padding-top:10px;">
		<table class="table">
		<thead>
		<tr><th>ID</th><th>Name</th><th>Key</th><th>Url</th><th>Description</th></tr>
		</thead>
		<tbody>
		{% for campaign in campaigns %}
		<tr><td>{{campaign.id}}</td><td><nobr>{{campaign.name}}</nobr></td><td><code>{{campaign.invite_key}}</code></td><td><a href="/projects/{{campaign.slug}}/"><nobr>/projects/{{campaign.slug}}</nobr></a></td><td>{{campaign.description}}</td></tr>
		{% endfor %}
		</tbody>
		</table>

	</div>
</div>
<div class="panel panel-default" style="margin-top:15px;">
	<div class="panel-heading">
		<strong>Add new fieldwork project</strong>
	</div>
	<div class="panel-body">
		<form role="form" action="" method="post" enctype="multipart/form-data">
			<input type="hidden" name="action" value="project_create" />
			<div class="form-group">
				<label for="project-name">Project Name</label>
				<input type="text" name="project_name" class="form-control" id="project-name" placeholder="Enter a name for this fieldwork project">
			</div>
			<div class="form-group">
				<label for="project-description">Project Description</label>
				<textarea name="project_description" class="form-control" id="project-description" placeholder="Enter a short description for this fieldwork project"></textarea>
			</div>
			<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create new fieldwork project</button>
		</form>
	</div>
</div>




<h3>Active Users</h3>
<table class="table table-condensed">
<thead>
<tr><th>ID</th><th>Username</th><th>E-mail</th><th>Roles</th></tr>
</thead>
<tbody>
{% for user in users %}
<tr>
	<td>{{user.id}}</td><td>{{user.username}}</td><td>{{user.email}}</td>
	<td>
		{% for role in user.roles %}
		<span class="label label-primary">{{role.name}} <i class="fa fa-times"></i></span>
		
		{% endfor %}
	</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
