{% extends "base.html" %}

{% block title %}
Administration panel	
{% endblock %}
{% block content %}
<div class="panel panel-default" style="margin-top:15px;">
	<div class="panel-heading">
		<strong>List of fieldwork projects</strong>
	</div>
	<div class="panel-body" style="padding:0;padding-top:10px;">
		<table class="table table-condensed">
		<thead>
		<tr><th>ID</th><th>Name</th><th>Description</th><th>Repr</th></tr>
		</thead>
		<tbody>
		{% for campaign in campaigns %}
		<tr><td>{{campaign.id}}</td><td>{{campaign.name}}</td><td>{{campaign.description}}</td><td>{{campaign}}</td></tr>
		{% endfor %}
		</tbody>
		</table>

	</div>
</div>
<div class="panel panel-default" style="margin-top:15px;">
	<div class="panel-heading">
		<strong>Add new fieldwork project</strong>
	</div>
	<div class="panel-body">
		<form role="form" action="" method=post enctype="multipart/form-data">
		<div class="form-group">
			<input type="text" name="project_name">
		</div>
		<div class="form-group">
			<input type="file" name="uploadfile">
		</div>
		<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create new fieldwork project</button>
		</form>
	</div>
</div>




<h3>Active Users</h3>
<table class="table table-condensed">
<thead>
<tr><th>ID</th><th>Username</th><th>E-mail</th><th>Roles</th></tr>
</thead>
<tbody>
{% for user in users %}
<tr>
	<td>{{user.id}}</td><td>{{user.username}}</td><td>{{user.email}}</td>
	<td>
		{% for role in user.roles %}
		<span class="label label-primary">{{role.name}} <i class="fa fa-times"></i></span>
		
		{% endfor %}
	</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
