

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Fieldwork Online</a>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse">-->

  <form class="navbar-form navbar-left" role="form">
  {% if current_user and project %}
    {% if current_user.is_supervisor or current_user.is_admin %}
   <a href="/projects/{{project.slug}}/" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#fff;"><i class="fa fa-home"></i> <strong>Home</strong></a>
    {% else %}
    <a href="/projects/{{project.slug}}/" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#fff;"><i class="fa fa-home"></i> <strong>Home</strong></a>
    {% endif %}
   {% elif current_user and project %}
   <a href="/projects/{{project.slug}}/" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#fff;"><i class="fa fa-home"></i> <strong>Home</strong></a>
  {% else %}
    <a href="/" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#fff;"><i class="fa fa-home"></i> <strong>Home</strong></a>
  {% endif %} 

  </form>

      <ul class="nav navbar-nav navbar-left">
        <!--<li class="active"><a href="/"><i class="fa fa-flag"></i> <strong>Fieldwork France 2014</strong> <i class="fa fa-angle-right"></i> Group A</a></li>-->
        <!--<li class="active"><a href="/"><i class="fa fa-home"></i> Home</a> </li>-->
        {% if current_user and project and user %}
        <!--
          <li class="active"><a href="/projects/{{project.slug}}/"><i class="fa fa-home"></i> Home &nbsp;<i class="fa fa-angle-right"></i>&nbsp; {{project.name}} &nbsp;<i class="fa fa-angle-right"></i>&nbsp; <strong>{{user.username}}</strong></a></li>
        -->
        {% elif current_user and project %}
        <!--
          <li class="active"><a href="/projects/{{project.slug}}/"><i class="fa fa-home"></i> Home &nbsp;<i class="fa fa-angle-right"></i>&nbsp; {{project.name}}</a></li>

        -->
        {% else %}
        <!--
          <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a> </li>
        -->
        {% endif %}        
        {% if current_user.id and project and user %}
	        <li><a href="/projects/{{project.slug}}/{{user.id}}/data"><i class="fa fa-database"></i> Data</a></li>
	        <li><a href="/projects/{{project.slug}}/{{user.id}}/maps"><i class="fa fa-map-marker"></i> Maps</a></li>
	        <li><a href="/projects/{{project.slug}}/{{user.id}}/feedback"><i class="fa fa-comment"></i> Comments and Feedback</a></li>
	        <li><a href="/projects/{{project.slug}}/{{user.id}}/collaborate"><i class="fa fa-share-alt"></i> Web Services</a></li>
        {% endif %}
        {% if current_user.id and project and not user %}
          <!--
        	<li><a href="/projects/{{project.slug}}/"><i class="fa fa-file-text"></i> Project Files</a></li>
        	<li><a href="/projects/{{project.slug}}/"><i class="fa fa-user"></i> Participating Users</a></li>
          -->
        {% endif %}
      </ul>


  <form class="navbar-form navbar-right" role="form">
  {% if current_user.is_admin %}
  <a href="/admin" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#ddd;"><i class="fa fa-wrench"></i> Settings</a>
  {% endif %}
  <a href="/settings" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#ddd;"><i class="fa fa-user"></i> My Account</a>
   <a href="/user/logout" type="submit" class="btn btn-default" style="border-color:#444;background-color:#222;color:#ddd;"><i class="fa fa-times"></i> Log out</a>
  </form>
  <p class="navbar-text navbar-right" style="color:#ddd;">Logged in as <strong>{{current_user.username}}</strong></p>

<!--
      <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
        {% if current_user.is_admin %}
        <li><a href="/admin"><i class="fa fa-wrench"></i> Administration</a></li>
        {% endif %}
        <li><a href="/settings"><i class="fa fa-user"></i> Settings</a></li>
        <li><a href="/user/logout"><i class="fa fa-times"></i> Log out</a></li>
      </ul>
-->
    <!--</div>--><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if current_user and user %}
{% if current_user.id != user.id %}
<div class="container-fluid" id="statusbar" style="background-color:#F5F5F5">
  <div class="row" style="padding:10px 0px 10px 0px;">
    <div class="col-xs-12 col-md-12">
      <p style="color:red;text-align:center;font-weight:normal;margin:0;padding:0;">
      <i class="fa fa-exclamation-circle"></i>
      Be careful! You're currently viewing <strong>{{user.username}}</strong>'s workspace!
    </p>
    </div>
  </div>
</div>
{% endif %}
{% endif %}

