{% extends "base.html" %}
{% block footjs %}
	<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	</script>
{% endblock %}
{% block content %}
<div class="well"  style="margin-top:15px;">
	<h2 style="margin-top:10px;">{{project.name}}</h2>
	<p>
	{{project.description}}
	</p>
</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Participants</strong>
				</div>
				{% if project.enrolled_users == 0 %}
					<div class="panel-body">
						<p>
						There are no users enrolled in this fieldwork project at this time. You can add them
						manually on this page, or give them the invitation code <code>{{project.invite_key}}</code>
						for this project. This code allows students to enroll themselves in the project.
						</p>
					</div>
				{% else %}
					<div class="panel-body">
						<p>
						The following users are enrolled in this fieldwork project:
						</p>
					</div>
					<div class="panel-body" style="padding:0;">
						<table class="table table-condensed">
						<thead>
						<tr><th>Username</th><th>Full name</th><th>E-mail</th><th>Details</th></tr>
						</thead>
						<tbody>
						{% for user in users %}
						<tr>
							<td>
								<code>
									{% if user.id == current_user.id %}
									<i class="fa fa-user"></i>	
									{% endif %}
									{{user.username}}
								</code>
							</td>
							<td>
								{{user.fullname}}
									{% if user.is_supervisor or user.is_admin %}
										<i data-original-title="This user is a supervisor or administrator" data-toggle="tooltip" title="" class="fa fa-graduation-cap"></i>
									{% endif %}
							</td>
							<td>
								{{user.email}}
							</td>
							<td>
							{% for membership in user.memberships %}
								{% if membership.campaign_id == project.id %}
								Last data upload: <code>{{membership.text_lastactivity}}</code><br/>
								{% endif %}
								{% if membership.campaign_id == project.id %}
								Web services: <code><i class="fa fa-share-alt"></i> {{membership.wms_url}}</code>
								{% endif %}
							{% endfor %}
							</td>

							<td style="text-align:right;">

								{% for membership in user.memberships %}
									{% if membership.campaign_id == project.id and current_user.is_admin %}
										{% if project.time_basemap > membership.time_basemap %}
											<a class="btn btn-success btn-sm" href="/projects/{{project.slug}}/?action=reload&amp;user_id={{user.id}}" >
											<i class="fa fa-refresh  fa-fw"></i> Update basemap</a> 
										{% else %}
											<a class="btn btn-default btn-sm" href="/projects/{{project.slug}}/?action=reload&amp;user_id={{user.id}}">
											<i class="fa fa-check fa-fw"></i> Update basemap</a> 
										{% endif %}

									{% endif %}
								{% endfor %}
								
								<a class="btn btn-primary btn-sm" href="/projects/{{project.slug}}/{{user.id}}/maps"><i class="fa fa-search"></i> View workspace</a>
							
							</td>
						</tr>
						{% endfor %}
						</tbody>
						</table>
					</div>
				{% endif %}
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Enroll new users</strong> <!--<a href="#" class="pull-right">View Project Basemap</a>-->
				</div>
				<div class="panel-body">
				<p>
					The invitation key/password for this project is <code>{{project.invite_key}}</code>. When students sign up and enter this key they will be automatically enrolled in this fieldwork campaign.
					It is also possible to manually enroll users. Below is a list of users which are not enrolled in this project. You can quickly enroll them by clicking the 'enroll' button.
				</p>

				</div>
				<div class="panel-body" style="padding:0;">
					<table class="table table-condensed">
					<thead>
					<tr><th>Username</th><th>Full name</th><th>E-mail</th><th></th></tr>
					</thead>
					<tbody>
					{% for user in enrollable_users %}
					<tr>
						<td>
							
								<code>
									{% if user.id == current_user.id %}
									<i class="fa fa-user"></i>	
									{% endif %}
									{{user.username}}
								</code>
						</td>
						<td>
							{{user.fullname}}
								{% if user.is_supervisor or user.is_admin %}
									<i data-original-title="This user is a supervisor or administrator" data-toggle="tooltip" title="" class="fa fa-graduation-cap"></i>
								{% endif %}
						</td>
						<td>
							{{user.email}}
						</td>

						<td style="text-align:right;">
							<a class="btn btn-primary btn-sm" href="/projects/{{project.slug}}/?action=enroll&amp;user_id={{user.id}}"><i class="fa fa-check"></i> Enroll</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
			
				
			</div>


			<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Upload project basemap (zip) or background layers (tif)</strong>
					</div>
					{% if current_user.is_admin %}
						<div class="panel-body">
						The following background layers have been uploaded:
						{% for layer in backgroundlayers %}
							<code>{{layer.name}}</code> 
						{% endfor %}. These layers can be selected in the "Background Maps" panel of the user workspaces.
						</div>
						<div class="panel-body">

							{% if project.basemap_version %}
								The current version of the basemap for this project dates from: <code>{{project.basemap_version}}</code>
							{% else %}
								No basemap has been uploaded yet for this project.
							{% endif %}
							When uploading a new base map please make sure that:
						</div>
						<ul>
							<li>Your entire QGIS project is contained in a single zip file. Ensure all the files are located in the root of the zipfile, and not in separate subdirectories!</li>
							<li>Your project uses relative paths (you can set this in <kbd>Project</kbd> <i class="fa fa-caret-right"></i> <kbd>Project Properties</kbd> in QGIS Desktop)</li>
							<li>Your project uses only source files located in the same directory as the QGIS project file. These files (rasters, shapefiles) must be included in the zip file.</li>
							<li>When you upload a new basemap it is automatically copied to all the user accounts in this project.</li>
							<li>Be sure to create pyramids for heavy raster layers in your base map. This will result in much better performance of your web map.</li>
						</ul>

						<div class="panel-body">
							<form role="form" action="" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<input type="file" name="uploadfile">
							</div>
							<button type="submit" value="upload" name="action" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Upload basemap</button>

							<!--
							<button type="submit" value="clearall" name="action" class="btn btn-default btn-sm">Delete basemap <i class="fa fa-times"></i></button>
							-->
							<button type="submit" value="reload" name="action" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Reload basemap for all users</button>
							</form>
						</div>
					{% else %}
						<div class="panel-body">
							Uploading a new project basemap can only be done by users with the administrator role.
						</div>
					{% endif %}
				</div>
		</div>
	
	</div>
	



	
{% endblock %}

{% block map %}
<!--
<div style="top:70px;width:100%;height:500px;">
<iframe height="100%" width="100%" frameborder="0" style="width:100%;height:100%;border:none;" src="http://qgis-web-client.localhost/qgiswebclient.html?map=/var/qgis-web-client/projects/testproject.qgs"></iframe>
</div>-->
{% endblock %}