{% extends "base.html" %}

{% block footjs %}
	<script type="text/javascript">
		/* define the upload url where the uploaded files are posted to. */
		upload_url="{{ url_for('project_file',slug=project.slug,user_id=user.id) }}"
	</script>
	<script src="/static/lib/plupload/plupload.full.min.js"></script>
	<script src="/static/lib/fwo/fieldworkonline-data.js"></script>
{% endblock %}

{% block content %}
<!--
<div class="well"  style="margin-top:15px;">
	<h2 style="margin:0;">Overview of fieldwork data</h2>
</div>
-->
<div class="panel panel-default" style="margin-top:15px;">
	<div class="panel-heading">
		<strong><i class="fa fa-plus"></i> Upload Spreadsheets, Photos, Documents</strong>
	</div>
	<div class="panel-body">


	{% if current_user.id != user.id %}
		<p>
		It is not possible (even for administrators or supervisors) to upload data to another user's workspace.
		</p>
	{% else %}
		<p>
			Please keep the following in mind when uploading files:
			<ul>
				<li>Uploaded files and data are always overwritten, not appended to or updated.</li>
				<li>You can upload multiple files at once by using CTRL while browsing for files.</li>
				<li>Images are automatically resized before uploading to save bandwidth. Make sure you save the original file on your own computer!</li>
				<li>Ensure that spreadsheets with data points adhere to the <a href="/manual/">rules specified in the manual</a>.</li>
			</ul>
		</p>
	</div>

	<table class="table table-condensed table-border" id="files-table">
	</table>

	<div class="panel-body" style="padding-top:5px;border-top:1px solid #ddd;background-color:#f5f5f5;">

		<ul id="file-errors"></ul>
		<div id="container">
			<button type="submit" class="btn btn-primary btn-sm" id="select-files"><i class="fa fa-search"></i> Browse for files</button>
			<button type="submit" class="btn btn-primary btn-sm" id="upload-files"><i class="fa fa-check"></i> Start uploading</button>
			<button type="submit" class="btn btn-default btn-sm" id="upload-reset"><i class="fa fa-times"></i> Reset</button>
			<a class="btn btn-default btn-sm" href=""><i class="fa fa-refresh"></i> Reload page</a>
		</div>
	{%endif%}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Overview of uploaded feature data layers</strong>
	</div>
	{% if not features %}
		<div class="panel-body">
			<p>No points have been uploaded yet.</p>
		</div>
	{% else %}
		<div class="panel-body" style="padding:0;">
			<table class="table">
			<tr>
				<td style="border:0;padding-left:15px;">Layer Name</td>
				<td style="border:0">Description</td>
				<td style="border:0">Attributes</td>
			</tr>
			{% for row in features %}
				<tr>
					<td style="padding-left:15px;">
					<nobr><i class="fa fa-database"></i> <code>{{row[0]}}</code> ({{row[2]}} points)</nobr>
					</td>
					<td>{{row[1]}}</td>
					<td>{{row[3]|safe}}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Overview of uploaded files</strong>
	</div>
	{% if attachments|length==0 %}
		<div class="panel-body">
		<p>No attachments have been uploaded yet.</p>
		</div>
	{% else %}
		<div class="panel-body" style="padding:0;">
			<table class="table">
			<tr>
				<td style="border:0;padding-left:15px;">Filename</td>
				<td style="border:0">Type</td>
				<td style="border:0">Size</td>
			</tr>
			{% for file in attachments %}
			<tr>
				<td style="padding-left:15px;">
				{% if file["type"] == "image" %}
				<i class="fa fa-file-image-o"></i>
				{% elif file["type"] == "spreadsheet" %}
				<i class="fa fa-file-excel-o"></i>
				{% elif file["type"] == "document" %}
				<i class="fa fa-file-text-o"></i>
				{% else %}
				<i class="fa fa-file-o"></i> 
				{% endif %}

				<a href="file?filename={{file["name"]}}">{{file["name"]}}</a></td>
				<td>{{file["type"]}}</td>
				<td>{{file["size"]}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
</div>
{% endblock %}


