{% extends "base.html" %}
{% block content %}
<!--
<div class="well"  style="margin-top:15px;">
	<h2 style="margin:0;">Overview of fieldwork data</h2>
</div>
-->
<div class="panel panel-default" style="margin-top:15px;">
	<div class="panel-heading">
		<strong><i class="fa fa-plus"></i> Upload Files (spreadsheets with observations, photos, documents)</strong>
	</div>
	<div class="panel-body">
	{% if current_user.id != user.id %}
		<p>
		It is not possible (even for administrators or supervisors) to upload data to another user's workspace.
		</p>
	{% else %}
		<p>
			Please keep the following in mind when uploading spreadsheets:
			<ul>
				<li>Uploaded data is overwritten, not appended to!</li>
				<li>The name of the sheet is used to identify the feature layer, make sure it's unique and has a clear name.</li>
				<li>Ensure that any spreadsheet has header information (column or attribute names) on the first row, and that any rows below that are features.</li>
			</ul>
		</p>
		<form role="form" action="file" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<input type="file" name="uploadfile">
			</div>
			<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Upload file</button>
		</form>
	{%endif%}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Overview of uploaded feature data layers</strong>
	</div>
	{% if not features %}
		<div class="panel-body">
			<p>No points have been uploaded yet.</p>
		</div>
	{% else %}
		<div class="panel-body" style="padding:0;">
			<table class="table">
			<tr>
				<td style="border:0;padding-left:15px;">Layer Name</td>
				<td style="border:0">Description</td>
				<td style="border:0">Attributes</td>
			</tr>
			{% for row in features %}
				<tr>
					<td style="padding-left:15px;">
					<nobr><i class="fa fa-database"></i> <code>{{row[0]}}</code> ({{row[2]}} points)</nobr>
					</td>
					<td>{{row[1]}}</td>
					<td>{{row[3]|safe}}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Overview of uploaded files</strong>
	</div>
	{% if attachments|length==0 %}
		<div class="panel-body">
		<p>No attachments have been uploaded yet.</p>
		</div>
	{% else %}
		<div class="panel-body" style="padding:0;">
			<table class="table">
			<tr>
				<td style="border:0;padding-left:15px;">Filename</td>
				<td style="border:0">Type</td>
				<td style="border:0">Size</td>
			</tr>
			{% for file in attachments %}
			<tr>
				<td style="padding-left:15px;">
				{% if file["type"] == "image" %}
				<i class="fa fa-file-image-o"></i>
				{% elif file["type"] == "spreadsheet" %}
				<i class="fa fa-file-excel-o"></i>
				{% elif file["type"] == "document" %}
				<i class="fa fa-file-text-o"></i>
				{% else %}
				<i class="fa fa-file-o"></i> 
				{% endif %}

				<a href="file?filename={{file["name"]}}">{{file["name"]}}</a></td>
				<td>{{file["type"]}}</td>
				<td>{{file["size"]}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
</div>
{% endblock %}
